ul {
    list-style-type: none;
    margin: 0vw;
    padding: 0vw;
    overflow: hidden;
    background-color: #333;
}

li {
 
    float: middle;
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}
li a:hover {
    background-color: black;
}

