ul {
    list-style-type: none;
    margin: 0vw;
    padding: 0vw;
    overflow: hidden;
    background-color: #333;
}

li {
 
    float: left;
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}
li a:hover {
    background-color: black;
}

#main {

    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 3vw;
    font-family: Impact;
}

body {
    background-color:rgb(170, 228, 152);
}